# Git
.git
.gitignore

# Go
*.exe
*.test
*.out

# Node.js
web/node_modules
web/dist
npm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
dockerfile
.dockerignore

# CI
.github
